body {
    background: linear-gradient(to bottom right, #e8e8e8, #ffffff);
    font-family: "Comic Sans MS", Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
}
.lebenslauf {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 25px;
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.4);
    padding: 40px;
    width: 65%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.lebenslauf:hover {
    background-color: rgba(255, 255, 255, 0.85); 
    transform: scale(1.01);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

h1 {
    color: #ff2d2d;
    background-color: #111;
    font-size: 48px;
    border-radius: 40px;
    padding: 15px;
    margin-top: 0;
    text-shadow: 2px 2px #ffffff;
    letter-spacing: 2px;
}
h2 {
    color: #ff2d2d;
    background-color: #111;
    text-decoration: underline;
    border-radius: 8px;
    padding: 8px;
    margin-top: 25px;
}
.abschnitt {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 2px solid #ff2d2d;
    border-radius: 12px;
    margin: 25px 0;
    padding: 20px;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, transform 0.2s ease;
}
.abschnitt:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
img {
    border: 5px dashed #ff2d2d;
    border-radius: 20px;
    width: 250px;
    box-shadow: 5px 5px 15px gray;
    margin-top: 10px;
    transition: 0.3s ease;
}
img:hover {
    transform: scale(1.05);
}
p {
    font-size: 18px;
    margin: 8px;
}

footer {
    font-size: 14px;
    background-color: rgba(151, 146, 146, 0.696);
    color: black;
    border-radius: 67px;
    padding: 15px;
    box-shadow: 1 2 30px rgba(104, 103, 103, 0.2);
}

.schulbild {
    width: 400px;
    height: auto;    
    margin-top: 20px;
    margin-bottom: 10px;
}

.tusa-bild {
    width: 400px;
    height: auto;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    z-index: -1;         
    opacity: 0.4;     
}
